.idea/
.vscode/
.history/
.project
.buildpath
.yardoc
.gradle
.devkit-token
*.tgz
*.iws
*.iml
*.ipr
~*
*.~*
dist/
dist-node/
dist-esm/
node_modules/
client/node_modules
client/package-lock.json
server/node_modules
server/package-lock.json
public/
target/
doc/
out/
build/
metamodel_*.zip
npm-debug.log
pnpm-debug.log
Gemfile.lock
package-lock.json
gradle-app.setting
gradlew
gradlew.bat
